.titleBlock {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.buttonBlock {
  display: none;
}

.titleBlock:hover {
  background-color: lightgray;
}

.titleBlock:hover .buttonBlock {
  display: flex;
  gap: 5px;
}
